a{
    color:black;
}
body ul li ul{
    list-style-type:circle;
}
body ul li ul li ul li{
    list-style-type:square;
}
body ul li ul li ul li ul li{
    list-style-type:disc;
}
h1{
    text-align:center;
    margin-top:-10px;
}
#picture{
    text-align:center;
}
/*color from http://www.colorzilla.com/gradient-editor/*/
body{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e1e1e1 3%, #f1f1f1 100%, #f6f6f6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(3%,#e1e1e1), color-stop(100%,#f1f1f1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e1e1e1 3%,#f1f1f1 100%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e1e1e1 3%,#f1f1f1 100%,#f6f6f6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e1e1e1 3%,#f1f1f1 100%,#f6f6f6 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e1e1e1 3%,#f1f1f1 100%,#f6f6f6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}
a:hover{
    font-weight:bold;
    color:red;
}

a:visited{
    color:blue;
}
#socialmediatable{
    margin:auto;
}